.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


.cardAllign{
  display: flex;
  flex-wrap: wrap;
  margin-left: 20px;
  padding-left: 60px;


  /* padding: 20px; 
  width: 200px;
  height: 150px;  */
  
}




th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.column {
  margin-left: 30px;
  margin-top: 100px;
  float: left;
  width: 33.33%;
  padding-left: 150px;
}

.row::after {
  
  content: "";
  clear: both;
  display: table;
}

/* .your-dialog-classname {
  display: block; 
  width: 1200px; 
  padding-left: 0px;
} */

.CartCounter{
  background-Color: 'black';
  width: '40px';
  height: '40px';
  font-Size:'35px';
}